@use "sass:math";
@use "./media";

@function strip-unit($num) {
    @return math.div($num, ($num * 0 + 1));
}

$bp-mobile: media.$mobile;
$bp-tablet: media.$tablet;
$bp-desktop: media.$desktop;

$range-mo-ta: strip-unit($bp-tablet) - strip-unit($bp-mobile);
$range-ta-de: strip-unit($bp-desktop) - strip-unit($bp-tablet);
$range-mo-de: strip-unit($bp-desktop) - strip-unit($bp-mobile);

@mixin fluid-text($d, $t-or-m, $m: null) {
    @if $m == null {
        $m: $t-or-m;

        $k: math.div(strip-unit($d) - strip-unit($m), $range-mo-de) * 100; // %
        $c: strip-unit($m) - math.div($k * strip-unit($bp-mobile), 100);

        font-size: clamp(#{$m}px, calc(#{$k}vw + #{$c}px), #{$d}px);
    } @else {
        $t: $t-or-m;

        $k1: math.div(strip-unit($t) - strip-unit($m), $range-mo-ta) * 100;
        $c1: strip-unit($m) - math.div($k1 * strip-unit($bp-mobile), 100);

        font-size: clamp(#{$m}px, calc(#{$k1}vw + #{$c1}px), #{$t}px);

        @media (min-width: #{$bp-tablet}) {
            $k2: math.div(strip-unit($d) - strip-unit($t), $range-ta-de) * 100;
            $c2: strip-unit($t) - math.div($k2 * strip-unit($bp-tablet), 100);

            font-size: clamp(#{$t}px, calc(#{$k2}vw + #{$c2}px), #{$d}px);
        }
    }
}

@mixin reset-link {
    color: inherit;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: currentColor;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

@mixin glass($color, $bg: 38%, $border: 67%, $blur: 6.6px) {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);

    // смешиваем цвет с прозрачностью
    background: color-mix(in srgb, $color $bg, transparent);
    border: 1px solid color-mix(in srgb, $color $border, transparent);
}



