@use "./media";

:root {
    --color-primary: #760135;
    --color-white: #ffffff;
    --color-white-alt: #f7f9fa;
    --color-text: #0d0d0d;
    --color-text-secondary: #282828;
    --color-text-alt: #8d8d8d;
    --color-success: #25b456;
    
    --color-gray: #313133;
    --color-gray-80: #ecedf0;
    --color-gray-40: #f3f3f5;
    --color-gray-200: #c4c6cc;
    --color-gray-240: #babcc2;
    --color-gray-100: #e0e1e6;
    --color-gray-700: #484a4d;
    --color-gray-500: #797a80;
    --color-gray-600: #606266;
    --color-gray-480: #7e7f85;

    --border-radius: 16px;
    --border-radius-smaller: 4px;
    --border-radius-small: 8px;
    --border-radius-large: 45px;

    --font-family-base: "IBMPlexSans", sans-serif;

    --container-width: 1440px;
    --container-width-s: 1100px;

    --container-padding-x: 60px;
    --input-height: 40px;

    --transition-duration: 0.2s;

   
}
